<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  <script>
    var meta = document.createElement('meta');
    meta.httpEquiv = "viewport";
    meta.content = "initial-scale=1, maximum-scale=1";
    window.parent.document.getElementsByTagName('head')[0].appendChild(meta);
    //added this because one.com does not do mobile viewport very well
  </script>
  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
