<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  <script>
    console.log(window);
    console.log(document);
    window.onload = function() {
      document.getElementsByTagName("html")[0].style.overflow="hidden";
      document.body.style.margin="0";
      document.body.style.display="inline-block";
      document.body.style.transformOrigin="top left";
      document.body.style.transform="scale("+Math.min(window.innerWidth/document.body.offsetWidth, window.innerHeight/document.body.offsetHeight, 1)+")";
    }
    //added this because one.com does not do mobile viewport very well
  </script>
  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
